.tinymce {
  @apply relative;
}
.tinymce > textarea {
  @apply absolute left-0 top-0 !block h-full w-full opacity-0;
}
.tinymce .tox-tinymce {
  @apply w-full;
}

.tinymce .tox-promotion{
  @apply hidden;
}

.tinymce .tox-tinymce {
  @apply rounded-md border border-gray-300 outline-none transition-all duration-200 dark:border-[rgb(var(--dark-300))] bg-slate-100 dark:bg-[rgb(var(--dark-900))]  text-inherit;
}

.tinymce .tox-tinymce.tox-edit-focus {
  @apply ring ring-gray-200 ring-opacity-70
}
.dark .tinymce .tox-tinymce.tox-edit-focus {
  --tw-ring-color: rgba(var(--dark-100), 0.3);
}
.tinymce:has(.form-invalid) .tox-tinymce {
  @apply border-red-600 dark:border-red-700;
}
.tinymce:has(.form-invalid) .tox-tinymce.tox-edit-focus {
  @apply ring-red-400 ring-opacity-20 dark:ring-red-600 dark:ring-opacity-40;
}

.tinymce .tox:not(.tox-tinymce-inline) .tox-editor-header {
  @apply border-solid border-b border-gray-300 dark:border-[rgb(var(--dark-300))] shadow-none;
}

.tinymce .tox .tox-statusbar {
  @apply border-t border-gray-300 dark:border-[rgb(var(--dark-300))] shadow-none;
}

.tinymce .tox .tox-edit-area__iframe {
  @apply bg-white dark:bg-[rgb(var(--dark-800))]
}

.tinymce .tox .tox-mbtn:focus:not(:disabled)::after,
.tinymce .tox .tox-tbtn:focus::after {
  @apply shadow-none;
}

.tinymce .tox .tox-edit-area::before {
  @apply border-none;
}

.tinymce .tox .tox-menubar,
.tinymce .tox .tox-statusbar,
.tinymce .tox .tox-toolbar,
.tinymce .tox:not(.tox-tinymce-inline) .tox-editor-header,
.tinymce .tox .tox-toolbar__overflow,
.tinymce .tox .tox-toolbar__primary,
.tinymce .tox .tox-toolbar-overlord,
.tinymce .tox .tox-tbtn,
.tinymce .tox .tox-tbtn--disabled,
.tinymce .tox .tox-tbtn--disabled:hover,
.tinymce .tox .tox-tbtn:disabled,
.tinymce .tox .tox-tbtn:disabled:hover,
.tinymce .tox .tox-mbtn
{
  @apply bg-transparent;
}
.tinymce .tox .tox-mbtn:hover,
.tinymce .tox .tox-mbtn:hover:not(:disabled):not(.tox-mbtn--active),
.tinymce .tox .tox-tbtn:hover
{
  @apply bg-black/5 dark:bg-white/5;
}
